Package: siakhooi-shed
Version: 1.29.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: bash, coreutils, findutils, grep, vim, man-db, sed, siakhooi-devutils-echo-colors (>= 1.0.0), git, siakhooi-textutils (>= 1.7.0), bash-completion, jq
Architecture: amd64
Homepage: <https://github.com/siakhooi/shed>
Description: Programs to manage kubernetes environments
