Package: siakhooi-shed
Version: 0.1.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: bash, coreutils, findutils, grep, vim, man-db
Architecture: amd64
Homepage: <https://github.com/siakhooi/shed>
Description: Programs to manage kubernetes environments
