name: Bats Test-Debian

on: workflow_call

jobs:
  bats-test-debian:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: deliverables
          path: ./

      - run: ./tests/bin/docker-run-bats-test-debian.sh

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: bats-test-result-debian
          path: ./tests/bats-test-result-*.log
